% This is a test configuration file for the US-Main framework.
%
% Its format is ETF (see https://myriad.esperide.org/#etf).
%
% Typically to be referenced in the 'us_main_config_filename' entry of the main
% us.config file (see US-Common for an example thereof).
%
% Refer to https://us-main.esperide.org/ for more information.


% A list of the contact directory ETF files (if any; either as absolute paths,
% or relative to the US configuration directory - possibly symbolic links
% pointing to files in VCS) from which contact information shall be referenced
% by the US-Main contact directory server:
%
%{ us_contact_files, [ "test-us-contact-directory.etf" ] }.


% Regarding the communication gateway, user information are gathered based on
% preferences (see https://myriad.esperide.org/#user-preferences).


% To override the default US-Main log directory, where US-Main related logs
% (e.g. about sensors; these are thus not VM ones) are to be written (which is
% /var/log, thus not writable for normal users):
%
% (a relative path shall be relied here upon only for embedded testing; in this
% case it shall be relative to the US-Main application base directory, see
% the 'us_main_app_base_dir' entry above)
%
% Here the same as for US itself:
%
{ us_main_log_dir, "priv/for-testing/log" }.


% The location of the US-Main server:
{ server_location, { { latitude, 48.7167 }, { longitude, 2.25 } } }.


{ sensor_monitoring, [

	% Under the next key shall be specified a list of
	% {sensor_id(), 'all_points' | [user_specified_point()]} pairs
	% in order to mute the sensors / measurement points that are known to be
	% bogus:
	%
	{ muted_measurements, [
		%{ { nct6792, isa, "0a20" }, [ "AUXTIN1" ] },
		%{ { acpitz, acpi, "0" }, all_points }
							   ] }
						] }.


%{ us_network_monitoring, [
%
%                         ] }.



  % Format: { TargetHost | 'internet', VerificationScheme :: 'ip' | 'dns' | 'icmp' | 'http' }
  %       | TargetHost | 'internet' | 'dns' }

  % For example: { "www.acme.org", ping }


% A list of the network services (typically websites) to be monitored for
% availability by the US-Main service tracker:

%{ us_monitored_services, [

	% Format: ProtocolAtom
	%         { ProtocolAtom, BaseAddress }
	%       | { ProtocolAtom, BaseAddress, ResourceDesignators }

	% where ProtocolAtom :: 'ip' | 'dns' | 'icmp' | 'http' | 'https' | 'ftp'
	%       BaseAddress :: net_utils:ip_address() | net_utils:string_host_name()
	%
	% For example:
	%     ip   % Check the IP connectivity on the local host
	%     dns  % Check the DNS resolution of the local host
	%     { icmp, "4.4.4.4" } % Check whether host can be ping'ed
	%     { http, "8.8.8.8" } % Implicitly: [ "index.html" ]
	%     { https, "download.bar.org", [ "content-1.xz", "content-2.xz" ] }
	% One day maybe: { ftp, "download.bar.org", [ "some_file.txt" ] }


%                         ] }

%{ us_monitored_peers, [


% To test the rejection of invalid entries:

%{ invalid_term, ...
%{ unexpected_key, some_value }.