# Listing path patterns that shall be ignored by git:
*.beam
*.traces
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump
doc/index.html

doc/mathjax
doc/universal-server-technical-manual-english.html
doc/universal-server-technical-manual-english.rst
doc/api-doc/
doc/overview.edoc
doc/universal-server-technical-manual-english.aux
doc/universal-server-technical-manual-english.pdf
doc/universal-server-technical-manual-english.tex
doc/universal-server-technical-manual-english.toc

priv/for-testing/

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/us_main.app.src

# Generated:
conf/rebar.config
