% This is a test configuration file for the US-Main framework.
%
% Typically to be referenced in the 'us_main_config_filename' entry of the main
% us.config file (see US-Common for an example thereof).


% So that multiple instances may co-exist and be reachable:

% For the US-Main server itself:
{ us_main_config_server_registration_name, test_us_server }.

% For the scheduler dedicated to US-Main:
%{ us_main_scheduler_registration_name, test_development_us_main_scheduler }.


% The user who shall launch the US-Main application:
%{ us_main_username, "brian" }.


% Tells where is the base directory of the US-Main application (useful notably
% for start/stop management scripts in a production context, or to locate
% relative directories such as any log one):
%
% (if such an entry is not defined here, the US_MAIN_APP_BASE_DIR environment
%  variable will be tested by these scripts, otherwise an attempt to guess it
%  will be done as a last resort; at least in production mode, a better, safer
%  name - hardcoded here - is preferred)
%
% For example "$HOME/[...]/us_main-x.y.z":
%{ us_main_app_base_dir, "" }.


% The directory (either absolute or relative to the US-Main application base
% directory, see the 'us_main_app_base_dir' entry above) that shall be used to
% store working data:
%
%{ us_main_data_dir, "/tmp/us-main-data" }.


% To override the default US-Main log directory, where logs (not VM ones) are to
% be written (which is /var/log, not writable for normal users):
%
% (a relative path shall be relied here upon only for embedded testing; in this
% case it shall be relative to the US-Main application base directory, see
% the 'us_main_app_base_dir' entry above)
%
{ us_main_log_dir, "priv/for-testing/log" }.

% To test the rejection of invalid entries:
%{ unexpected_key, some_value }.